* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
        font-family: 'Courier New', Courier, monospace;
        background-color: rgb(5, 247, 25);
        color: rgb(212, 0, 255);
        line-height: 1.5;
    }
